body {
  margin: 0;
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #051c33;
}

/* Global*/

h1,
h2 {
  text-align: center;
}

img {
  height: 100%;
  width: 100%;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #051c33;
  text-decoration: none;
}

p {
  text-align: center;
  font-size: 1.1rem;
  color: red;
  font-weight: bold;
}

button {
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

header {
  font-family: "Lobster", "Josefin Sans", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

main {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

main form button {
  background-color: white;
  border: 1px solid black;
  border-left: none;
  border: none;
}

.search-icon {
  box-shadow: 0 0 4pt 2pt #d3d3d3;
  border-radius: 2px;
}

main img {
  background-color: white;
}

form {
  display: flex;
  justify-content: center;
}

input {
  width: calc(100vw / 3);
  border-radius: 5px 0px 0px 5px;
  border: solid 1px #d3d3d3;
  border-right: none;
  padding: 0.5rem;
}

input[type="text"]:hover {
  box-shadow: 0 0 5pt 0.5pt #d3d3d3;
}

input[type="text"]:focus {
  box-shadow: 0 0 5pt 2pt #d3d3d3;
}

/* Tags*/
.tags {
  display: flex;
  margin: 1rem 2rem;
  gap: 2rem;
  margin-bottom: 1.5rem;
  justify-content: center;
}

.tags > * {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 0;
  color: white;
  background-color: #051c33;
  padding: 0.2rem 1rem;
  border-radius: 0.3rem;
  text-align: center;
}

/* Images*/
.noPhotoFound,
.searched-image {
  margin-bottom: 1rem;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0 10px;
  justify-content: center;
}

.image-gallery div {
  flex-basis: 15rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 1rem;
}

.image-gallery div img {
  border: none;
  border-radius: 0.12rem;
}

/* breakpoint for image margin*/
@media (max-width: 1000px) {
  .image-gallery {
    margin: 0;
  }
}

/* breakpoint for input search*/
@media (max-width: 790px) {
  input {
    width: calc(100vw / 1.2);
    border-right: none;
  }
}

/* breakpoint for tags*/
@media (max-width: 500px) {
  .tags {
    flex-grow: 1;
    flex-wrap: wrap;
    margin: 1rem;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
  }
}

/* Error page*/
.error-button-container {
  display: flex;
  justify-content: center;
}

.error-button {
  background-color: #051c33;
  margin-top: 1rem;
  padding: 2rem;
  color: white;
  font-size: 1.1rem;
}

.search-icon {
  height: 2.7rem;
  width: 2.7rem;
  padding: 0.3rem;
  border-radius: 0 0.7rem 0.7rem 0;
}
