@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader-spinner {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-top: 2rem;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #383636;
  border-radius: 50%;
  animation: loader 1.5s linear infinite;
}
